{% extends 'admin/article.html' %}
{% block extra_styles %}
<link
  href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.0/dist/quill.snow.css"
  rel="stylesheet"
/>

{% endblock %}
{% block button %}{% endblock button %}


{% block table_content %}
    <form action="" method="post" class="mt-4" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="field">
            {{ form.name.label(class='label') }}
            <div class="control">
                {{ form.name(class='input', placeholder='name') }}
            </div>
        </div>
        <div class="field">
            {{ form.excerpt.label(class='label') }}
            <div class="control">
                {{ form.excerpt(class='input', placeholder='excerpt') }}
            </div>
        </div>

        <div class="field">
            {{ form.category.label(class='label') }}
            <div class="control">
                <div class="select is-fullwidth">
                    {{ form.category }}
                </div>
            </div>
        </div>

        <div class="field">
            {{ form.content.label(class='label') }}
            <div class="control">
                {{ form.content(class='textarea', rows="10", placeholder='Content') }}
            </div>
            <div id="editor" style="height: 500px;">

            </div>
        </div>
        <div class="field">
            {{ form.thumbnail.label(class='label') }}
            <div class="control">
                {{ form.thumbnail(class='input',  placeholder='thumbnail') }}
                <p class="help has-text-grey-light">
                    {{ form.thumbnail.description }}
                </p>
            </div>

            <div class="mb-2">

                        {% if key=="edit" %}
                            {% if article.thumbnail %}
                <img height="100" width="100" src="/admin/static/{{ article.thumbnail }}" alt="{{ article.thumbnail }}">
                            {% else %}
                                -_-
                            {% endif %}
                        {% endif %}
            </div>
        </div>

        <div class="field">
            {{ form.classifications.label(class='label') }}
            <div class="control">
                <div class="select is-fullwidth is-multiple">
                    {{ form.classifications(size='5') }}
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            {{ form.status.label(class='label') }}
            <div class="field-body ml-4">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="status" value="draft">
                        draft
                    </label>
                    <label class="radio">
                        <input checked type="radio" name="status" value="online">
                        online
                    </label>
                </div>
            </div>
        </div>
        <div class="is-block">
            <div class="box has-background-light is-shadowless level">
                <button class=" is-danger button level-left">Delete</button>
                <div class="level-right">
                    <a href="{{ url_for('admin.article_manage_page') }}" class="button is-primary is-light mr-2">Back</a>
                    <input type="submit" value="save" class=" button is-success">
                </div>
            </div>
        </div>

    </form>
{% endblock table_content %}
{% block extra_js %}
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
{#  similar to ajax  #}
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.0/dist/quill.js"></script>
{% endblock %}
{% block extra_script %}
<script>

    var quill = new Quill('#editor', {
        debug: 'info',
        theme: 'snow',
        placeholder: 'Test',
        readOnly: false,
        formats: {}
    });

    var content = document.querySelector("textarea[name='content']");
    {# get the content if it has #}
    content.setAttribute('style', 'display:None')

    quill.on('text-change', function (delta, OldDelta, source){
        content.innerHTML = quill.container.firstChild.innerHTML;
    });
{#  check the changes  #}

    quill.clipboard.dangerouslyPasteHTML(content.value)
{#  it's can get the value, but as it's name, it's dangerous(xss)   #}



</script>
{% endblock %}