{% extends 'base.html' %}

{% block title %}
{{ g.user['username'] }}-个人中心
{% endblock title %}

{% block hero %}{% endblock hero %}

{% block manage %}
<div class="columns">
    <div class="column is-2">
        <div class="card is-shadowless" style="border-right:solid 1px #eee">
            <div class="card-content">
                <aside class="menu">
                    <p class="menu-label">
                        terminal
                    </p>
                    <ul class="menu-list">
                        <li><a class="{% if request.path == '/admin/' %}is-active{% endif %}"
                            href="{{ url_for('admin.index') }}">主页</a></li>
                        <!-- <li><a>Customers</a></li> -->
                    </ul>
                    <p class="menu-label">
                        CATEGORY
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('admin.category_manage_page') }}">Category management</a></li>
                    </ul>
                    <p class="menu-label">
                        文章管理
                    </p>
                    <ul class="menu-list">
                        <li><a href="">文章管理</a></li>
                    </ul>
                    <p class="menu-label">
                        用户管理
                    </p>
                    <ul class="menu-list">
                        <li><a>用户管理</a></li>
                        <li><a>修改密码</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <div class="column">
        {% block res_list %}
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-info is-light">
                    <div class="content">
                        <p class="title">100</p>
                        <p class="subtitle">articles</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success is-light">
                    <div class="content">
                        <p class="title">50</p>
                        <p class="subtitle">users</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning is-light">
                    <div class="content">
                        <p class="title">150</p>
                        <p class="subtitle">comments</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% endblock res_list %}
    </div>
</div>
{% endblock manage %}