{% extends 'base.html' %}

{% block title %}
{{ g.user['user_name'] }}-Admin center
{% endblock title %}



{% block manage %}
<div class="columns">
    <div class="column is-2">
        <div class="card is-shadowless" style="border-right:solid 1px #eee">
            <div class="card-content">
                <aside class="menu">
                    <p class="menu-label">
                        terminal
                    </p>
                    <ul class="menu-list">
                        <li><a class="{% if request.path == '/admin/' %}is-active{% endif %}"
                            href="{{ url_for('admin.index') }}">Main page</a></li>
                        <!-- <li><a>Customers</a></li> -->
                    </ul>
                    <p class="menu-label">
                        CATEGORY
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('admin.category_manage_page') }}" class="{% if '/admin/category' in request.path %}is-active{% endif %}">Category management</a></li>
                    </ul>
                    <p class="menu-label">
                        ARTICLE
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('admin.article_manage_page') }}" class="{% if '/admin/article' in request.path %}is-active{% endif %}">Article management</a></li>
                    </ul>
                    <p class="menu-label">
                        Classification
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('admin.classification_manage_page') }}" class="{% if '/admin/class' in request.path %}is-active{% endif %}" >Classification management</a></li>
                    </ul>
                    <p class="menu-label">
                        User
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('admin.user_manage_page') }}" class="{% if '/admin/user' in request.path %}is-active{% endif %}">User management</a></li>
                    </ul>
                    <p class="menu-label">
                        Comment
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('admin.comment_manage_page') }}" class="{% if '/admin/comment' in request.path %}is-active{% endif %}">Comment management</a></li>
                    </ul>

                </aside>
            </div>
        </div>
    </div>
    <div class="column">
        {% block res_list %}
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-info is-light">
                    <div class="content">
                        <p class="title">Welcome</p>
                        <p class="subtitle">{{ g.user.user_name }}</p>
                        <div class="content">
                            This is the admin terminal page
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% endblock res_list %}
    </div>
</div>
{% endblock manage %}