{% extends 'admin/index.html' %}    

{% block res_list %}
<div class="is-block">
    <div class=" is-pulled-left">
        <h1 class=" is-size-4">
            <span class="icon">
                <i class="mdi mdi-account-outline"></i>
            </span>
            User management
        </h1>
    </div>

    {% block button %}
    <div class=" is-pulled-right">
        <a href="{{ url_for('admin.add_new_user') }}" class=" button is-primary is-light">
            <span class="icon"><i class="mdi mdi-plus-thick"></i></span>
            <span>add new user</span>
        </a>
    </div>
    {% endblock button %}
    <div class="is-clearfix"></div>
    <div class=" dropdown-divider"></div>


    {% with messages = get_flashed_messages() %}
    <b-message type="is-success">
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </b-message>
    {% endwith %}
</div>

{% block table_content %}
<div class="table-container">
    <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
            <tr>
              <th>ID</th>
              <th>Portrait</th>
              <th>User_name</th>
              <th>If_admin</th>
              <th>If_VIP</th>
              <th>Add_date</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>
                    {% if user.head_portrait %}
                    <figure class="image is-48x48">
                        <img class="is-rounded" src="/admin/static/{{ user.head_portrait }}" alt="{{ user.user_name }}" style="width: 48px; height: 48px">
                    </figure>
                    {% else %}
                    -_-
                    {% endif %}
                </td>
                <td>{{ user.user_name }}</td>
                <td>
                    {% if user.is_admin %}
                        <span class="icon has-text-success-dark">
                            <i class="mdi mdi-check"></i>
                        </span>
                    {% else %}
                        <span class="icon has-text-danger-dark">
                            <i class="mdi mdi-close"></i>
                        </span>
                    {% endif %}
                </td>
                <td>
                    {% if user.is_VIP %}
                        <span class="icon has-text-success-dark">
                            <i class="mdi mdi-check"></i>
                        </span>
                    {% else %}
                        <span class="icon has-text-danger-dark">
                            <i class="mdi mdi-close"></i>
                        </span>
                    {% endif %}
                </td>
                <td>{{ user.add_date }}</td>
                <td>
                    <div class="tags">
                        <a href="{{ url_for('admin.edit_user', user_id=user.user_id) }}" class="tag is-success is-light">
                            <span class="icon">
                                <i class="mdi mdi-square-edit-outline"></i>
                            </span>
                            Edit
                        </a>
                        <a href="{{ url_for('admin.delete_user', user_id=user.user_id) }}" class="tag is-danger is-light">
                            <span class="icon">
                                <i class="mdi mdi-trash-can-outline"></i>
                            </span>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav class="pagination is-small" role="navigation" aria-label="pagination">
    {% if pagination.has_prev %}
    <a href="{{ url_for('admin.user_manage_page') }}?page={{ pagination.prev_num }}" class="pagination-previous" title="This is the first page">Previous</a>
    {% endif %}
    {% if pagination.has_next %}
    <a href="{{ url_for('admin.user_manage_page') }}?page={{ pagination.next_num }}" class="pagination-next">Next page</a>
    {% endif %}

    <ul class="pagination-list">        
        {% for page in pagination.iter_pages() %}
            {% if page %} 
                {% if page != pagination.page %}
                <li>
                    <a href="{{ url_for('admin.user_manage_page') }}?page={{ page }}" class="pagination-link" aria-label="Page 1" aria-current="page">{{ page }}</a>
                </li>
                {% else %}
                <li>
                    <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{ page }}</a>
                </li>
                {% endif %}
            {% else %}
                <span class=pagination-ellipsis>&hellip;</span>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock table_content %}
{% endblock res_list %}