{% extends 'forum/personal_page.html' %}

{% block flash_message %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if message == "the password has been changed successfully" %}
                    <b-message type="is-success">
                        <ul class=flashes>
                            <li>{{ message }}</li>
                        </ul>
                    </b-message>
                {% elif message == "the two passwords are different" %}
                    <b-message type="is-danger">
                        <ul class=flashes>
                            <li>{{ message }}</li>
                        </ul>
                    </b-message>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block res_list %}

<form action="" method="post" class="mt-4" >
        {{ form.csrf_token }}
        <div class="field">
            {{ form.password.label(class='label') }}
            <div class="control">
                {{ form.password(class='input', placeholder='password') }}
                <p class="help has-text-grey-light">
                    {{ form.password.description }}
                </p>
            </div>
        </div>
        <div class="field">
            {{ form.password_confirm.label(class='label') }}
            <div class="control">
                {{ form.password_confirm(class='input', placeholder='password_confirm') }}
                <p class="help has-text-grey-light">
                    {{ form.password_confirm.description }}
                </p>
            </div>
        </div>
        <div class="is-block">
            <div class="box has-background-light is-shadowless level">
                <div class="level-right">
                    <a href="{{ url_for('forum.personal_index') }}" class="button is-primary is-light mr-2">back</a>
                    <input type="submit" value="save" class=" button is-success">
                </div>
            </div>
        </div>
</form>
{% endblock %}